In [19]:
import pandas as pd
data = pd.read_csv('web-NotreDame.txt', sep="\t", header=3)

In [20]:
data

         # FromNodeId  ToNodeId
0                   0         0
1                   0         1
2                   0         2
3                   0         3
4                   0         4
...               ...       ...
1497129        325727      1018
1497130        325727    325726
1497131        325727    325728
1497132        325728      1018
1497133        325728    325727

[1497134 rows x 2 columns]

In [30]:
tuples = [frozenset(x) for x in data.to_numpy()] # list of frozenset including duplicates i.e. (0,1) and (1,0)

In [36]:
len(tuples)

1497134

In [38]:
edges = list(set(tuples)) # list of frozensets without duplicates i.e. only (0,1) or (1,0) for undirected graph
len(edges)

1117563